*.exe
payload-generator/payload-gen
.env
*.log
go.work.sum
.DS_Store
proxy-server/proxy-srv
analytics-server/analytics-srv
data/
payload-generator/payload-generator
proxy-server/proxy-server
analytics-server/analytics-server
analytics-server/payload-gen
.wrangler/
