*.exe
payload-generator/payload-gen
capture-backend/capture-srv
.env
*.log
go.work.sum
.DS_Store
proxy-server/proxy-srv
analytics-server/analytics-srv
data/
capture-backend/capture-backend
payload-generator/payload-generator
proxy-server/proxy-server
analytics-server/analytics-server
analytics-server/payload-gen
